p{
    text-align: center;
    color: yellow;
    }
    
    h1{
    text-align: center;
    color: skyblue;
    background: black;
    }
    .paragrafo1{
    color: red;
    }
    
    body{
    background: black;
    }
    